.nav-container {
  background-color: rgba(8, 3, 8, 0.9);
  transition: background-color 0.3s ease-in-out;
}

.nav-container.scrolled {
  background-color: hsla(0, 8%, 30%, 0.9);
  transition: background-color 0.2s linear;
  backdrop-filter: blur(10px);
}
