.custom-table-container {
  border: 1px solid #080808;
  box-shadow: 3px 3px 3px 3px #1c1929;
  margin-top: 5rem;
}

.custom-table-cell {
  border: 1px solid #ccc;
}

.green-background {
  background-color: green;
}

.check-in-time {
  font-size: 1.1em;
  font-weight: 400;
  color: #007bff;
  /* margin-left: 10px; */
}
